<section class="about-section pt-0 mt-5">
	<div class="container">
		<div class="section-title text-center">
			<h3>WELCOME TO Learner Centric</h3>
			<p>Let children creative and make a different</p>
		</div>
		<div class="row">
			<div class="col-lg-6 about-text">
				<h5>STEM ?</h5>
				<p>
					Careers of the 21st Century require skills in Science, Technology,
					Engineering and Mathematics (STEM) disciplines. Schools have been
					responding to this need by incorporating STEM skills into the
					curriculum, but this does not always translate into an enhanced
					learning experience for students. <br /><br />In fact, despite all the
					efforts, it is estimated that more than 80% of high school seniors in
					the US are not proficient in mathematics and not interested in a STEM
					career because they feel that it’s hard or uninteresting.
					<br /><br />We, at Learnercentric, offer a solution to this problem.
				</p>
			</div>
			<div class="col-lg-6 pt-5 pt-lg-0">
				<img
					src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
					alt=""
				/>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-6 pt-5 pt-lg-0">
				<img
					src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
					alt=""
				/>
			</div>
			<div class="col-lg-6 about-text">
				<h5>Personalized Learning ?</h5>
				<p>
					Through learner-centered approaches grounded in Neuroscience, we make
					learning a meaningful, joyful and rewarding experience nurturing
					confident, motivated and independent learners. <br /><br />
					Whether you are a parent trying to help a child struggling with
					Algebra, or a student wishing to make sense of Calculus, or an adult
					learner needing to enter the world of Programming, we would love to
					help! <br /><br />We work with learners online one-on-one, in small
					groups and in a blended model as needed. <br /><br />“It’s not that
					I’m so smart, it’s just that I stay with problems longer” - Albert
					Einstein
				</p>
			</div>
		</div>
	</div>
</section>
