<section class="counter-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <!-- <div class="big-icon">
            <i class="fa fa-star"></i>
          </div> -->
          <div class="counter-content">
            <h2>“It’s not that I’m so smart, it’s just that I stay with problems longer” - Albert Einstein</h2>
					</div>
            
        </div>
      </div>
    </div>
  </section>