<section class="event-section spad">
	<div class="container">
		<div class="section-title text-center">
			<h3>OUR COURSES</h3>
			<p>Building a better world, one course at a time</p>
		</div>
		<div class="row">
			<div class="col-md-6 event-item">
				<div class="event-thumb">
					<!-- <img src="img/event/1.jpg" alt="" /> -->
					<img src="img/course/1.jpg" alt="" />
					<div class="event-date">
						<span>Foundational</span>
					</div>
				</div>
				<div class="event-info">
					<h4>
						The dos and don'ts of writing a personal<br />statement for
						languages
					</h4>
					<!-- <p>
						<i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM
						<i class="fa fa-map-marker"></i> Center Building, Block A
					</p> -->
					<a href="/subjects" class="event-readmore"
						>Read More <i class="fa fa-angle-double-right"></i
					></a>
				</div>
			</div>
			<div class="col-md-6 event-item">
				<div class="event-thumb">
					<!-- <img src="img/event/2.jpg" alt="" /> -->
					<img src="img/course/2.jpg" alt="" />
					<div class="event-date">
						<span>College Level</span>
					</div>
				</div>
				<div class="event-info">
					<h4>
						University interview tips:<br />confidence won't make up for flannel
					</h4>
					<!-- <p>
						<i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM
						<i class="fa fa-map-marker"></i> Center Building, Block A
					</p> -->
					<a href="/subjects" class="event-readmore"
						>Read More <i class="fa fa-angle-double-right"></i
					></a>
				</div>
			</div>
			<div class="col-md-6 event-item">
				<div class="event-thumb">
					<!-- <img src="img/event/2.jpg" alt="" /> -->
					<img src="img/course/3.jpg" alt="" />
					<div class="event-date">
						<span>Advanced</span>
					</div>
				</div>
				<div class="event-info">
					<h4>
						University interview tips:<br />confidence won't make up for flannel
					</h4>
					<!-- <p>
						<i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM
						<i class="fa fa-map-marker"></i> Center Building, Block A
					</p> -->
					<a href="/subjects" class="event-readmore"
						>Read More <i class="fa fa-angle-double-right"></i
					></a>
				</div>
			</div>
			<div class="col-md-6 event-item">
				<div class="event-thumb">
					<!-- <img src="img/event/2.jpg" alt="" /> -->
					<img src="img/course/4.jpg" alt="" />
					<div class="event-date">
						<span>Test Prep</span>
					</div>
				</div>
				<div class="event-info">
					<h4>
						University interview tips:<br />confidence won't make up for flannel
					</h4>
					<!-- <p>
						<i class="fa fa-calendar-o"></i> 08:00 AM - 10:00 AM
						<i class="fa fa-map-marker"></i> Center Building, Block A
					</p> -->
					<a href="/subjects" class="event-readmore"
						>Read More <i class="fa fa-angle-double-right"></i
					></a>
				</div>
			</div>
		</div>
	</div>
</section>
