<title>Learnercentric</title>
<meta charset="UTF-8" />
<meta name="description" content="Helping students become curious, joyful, confident and independent learners. Of course, we are always there when they need us!" />
<meta name="keywords" content="Leanercentric" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Favicon -->
<link href="img/favicon.ico" rel="shortcut icon" />

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:wght@300&display=swap"
	rel="stylesheet"
/>

<!-- Font Awesome -->
<script
	src="https://kit.fontawesome.com/02982cb835.js"
	crossorigin="anonymous"
></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/themify-icons.css" />
<link rel="stylesheet" href="css/magnific-popup.css" />
<link rel="stylesheet" href="css/animate.css" />
<link rel="stylesheet" href="css/owl.carousel.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/custom.css" />
