<header class="header-section">
    <div class="container">
      <!-- logo -->
      <a href="/" class="site-logo"><h4 class="logo">Learnercentric</h4></a>
      <div class="nav-switch">
        <i class="fa fa-bars"></i>
      </div>
      <div class="header-info">
        <!-- <div class="hf-item">
          <i class="fa fa-clock-o"></i>
          <p><span>Working time:</span>Monday - Friday: 08 AM - 06 PM</p>
        </div> -->

        <div class="site-btn">
          <a href="#" data-toggle="modal" data-target="#myModal">
            <!-- <button class="button button-contactForm boxed-btn"> -->
             Student Login
            <!-- </button> -->
          </a>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body">
                        <h3 class="title">Login Form</h3>
                        <p class="description">Login here Using Email & Password</p>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                            <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                       
                        
                        <a href="/" class="btn">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
         
       
          
      </div>
      
    </div>
  </header>