<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="img/hero-slider/1.jpg">
			<div class="hs-text">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="hs-subtitle">Award Winning UNIVERSITY</div>
							<h2 class="hs-title">Need help with STEM Subjects?</h2>
							<!-- <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening
                  your<br> knowledge and absorbing the truth about life. Knowledge is power.</p> -->
							<div class="site-btn">
								<a href="/contact"> REQUEST A FREE SESSION </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="hs-item set-bg" data-setbg="img/hero-slider/2.jpg">
        <div class="hs-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening
                  your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
                <div class="site-btn">GET STARTED</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
	</div>
</section>
