<nav class="nav-section">
    <div class="container">
      <div class="nav-right">
        <a href=""><i class="fa fa-search"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
      </div>
      <ul class="main-menu">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/subjects">Subjects</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
  </nav>