<section class="counter-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- <div class="big-icon">
          <i class="fa fa-star"></i>
        </div> -->
        <div class="counter-content">
          <h2>“If you want to build a ship, don't drum up people to collect wood and don't assign them tasks and work, but rather teach them to long for the endless immensity of the sea.” - Antoine de Saint-Exupery</h2>
        </div>
          
      </div>
    </div>
  </div>
</section>

<section class="service-section spad">
    <div class="container services">
      <div class="section-title text-center">
        <h3>Subjects</h3>
        <p></p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6 service-item">
          <div class="service-icon">
            <img src="img/services-icons/1.png" alt="1">
          </div>
          <div class="service-content">
            <h4>Fundamental</h4>
            <p>Basic Math skills, Fun with Math, Fun with Coding, </br> </p><a href="/subjects">Know More</a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 service-item">
          <div class="service-icon">
            <img src="img/services-icons/2.png" alt="1">
          </div>
          <div class="service-content">
            <h4>Advanced</h4>
            <p>Pre-Calculus, Calculus, Probability & Statistics </br> </p><a href="/subjects">Know More</a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 service-item">
          <div class="service-icon">
            <img src="img/services-icons/3.png" alt="1">
          </div>
          <div class="service-content">
            <h4>College Level</h4>
            <p>AP Calculus (AB, BC), AP Physics (1,2,C), AP Chemistry </br> </p> <a href="/subjects">Know More</a> 
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 service-item">
          <div class="service-icon">
            <img src="img/services-icons/4.png" alt="1">
          </div>
          <div class="service-content">
            <h4>Test Prep</h4>
            <p>SAT (General), ACT, SAT (Math 1,2), GMAT  </br> </p><a href="/subjects">Know More</a>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-sm-6 service-item">
          <div class="service-icon">
            <img src="img/services-icons/5.png" alt="1">
          </div>
          <div class="service-content">
            <h4>Flexible Schedule</h4>
            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos
              cursus lania.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 service-item">
          <div class="service-icon">
            <img src="img/services-icons/6.png" alt="1">
          </div>
          <div class="service-content">
            <h4>Chemistry Lab</h4>
            <p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos
              cursus lania.</p>
          </div>
        </div> -->
      </div>
    </div>
  </section>