<section class="testimonial-section spad">
	<div class="container">
		<div class="testimonial-slider owl-carousel">
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ As an undergraduate science student who has never been too
							strong in math classes, I was seeking help in a Calculus 2 class
							that I was very much struggling in. With Mr. Dommety’s help, I was
							able to genuinely learn, as well as excel, in a class that I was
							initially struggling in. Mr. Dommety implements learning styles
							that are tailored to the individual student, and focuses on a
							strong foundational understanding of subjects, which is crucial as
							students advance in STEM subjects. Through his patient and
							optimistic tutoring style, I felt very comfortable to be honest
							about how I was feeling and if the pace of our classes needed to
							be changed. I was able to become confident in a subject that I
							used to dread, and I could not have done it without Mr. Dommety’s
							teaching and help.”
						</p>
						<h5>Ms. Ahladitha, Student (undergrad STEM)</h5>
						<span>San Diego, CA</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Our daughter was having a difficult time in her math class. We
							started to explore after school tutoring options, and came across
							Mr. Dommety. Initially, we were skeptical because the sessions
							were online only, however, we decided to give it a try because it
							was more convenient. We were interested to see the results of the
							session. Within a few weeks, we started noticing changes in our
							daughter, she was happy, confident, and her grades were improving.
							Three years later, and our daughter is continuing her sessions
							with Mr. Dommety. Thank you Mr. Dommety for all that you do. The
							world is result oriented, and Mr. Dommety delivers. ”
						</p>
						<h5>Mr. Ali & Ms. Saneta</h5>
						<span>California</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ As someone who had just switched into a STEM major, I was
							extremely overwhelmed with my coursework. During my first two
							semesters as Applied Math major, I found that many of the classes
							I enrolled in were very intensive and fast-paced. Ananth made it a
							point to take these factors into account and develop strategies
							that really allowed me to become more comfortable with the
							material in my classes. Whether it be computer science,
							upper-level calculus, statistics, discrete math or virtually any
							other STEM related topic, Ananth is extremely adept at breaking
							down complex topics into simpler more digestible concepts. Also,
							it is very clear that he truly enjoys teaching and is very much
							invested in his student’s success. He regularly goes above and
							beyond by making it a point to always be available and take care
							of any lingering questions or problems you may have. I would
							highly recommend him if you are looking to brush up or broaden on
							your quantitative skill-set. ”
						</p>
						<h5>Mr. PArjun, Student (undergrad, math-cs)</h5>
						<span>Long Island, NY</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Mr. Dommety helped me develop a better understanding of the
							material I was covering in my Honors Algebra 2 and Trigonometry
							class. Mr. Dommety always made me feel comfortable with asking
							questions and reaching out for help. Even after my sessions, he
							was flexible and always provided me with many resources to review
							on my own. With his help, I left every session less stressed and
							more confident in my ability to compute. Mr. Dommety has also been
							a tremendous help in helping me raise my SAT Math score. <br />
							<br />
							Over the course of the year and a half, I have seen great
							improvement in my grades and in my ability to understand more
							complex material.”
						</p>
						<h5>Ms. Ayana, Student (Algebra2, Testprep)</h5>
						<span>Bergen County, NJ</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ I was struggling in Algebra 1 when I approached Mr. Ananth.
							Throughout our weekly meetings, he was very patient, kind, and
							caring. Mr. Ananth offered several strategies which made the
							concepts clear to understand. I very quickly noticed a positive
							change in my grade, as well as less stress. I enjoyed math again
							and learned to be curious. Furthermore, Mr. Ananth is very quick
							to answer questions and will take the time to explain. I became
							better prepared for quizzes and confident taking tests. If you are
							a person who wants to excel in math and enjoy what you’re
							learning, I recommend Mr. Ananth. ”
						</p>
						<h5>Ms. Julia, Student (Algebra 1, Geometry, Algebra 2)</h5>
						<span>San Ramon, CA</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ As a student who has generally struggled in math and science,
							Mr. Dommety has aided me in becoming more confident in my
							abilities, by showing me what I am capable of. <br /><br />
							Mr. Dommety has taught me in both math as well as physics. All
							across the board, he is extremely knowledgeable and takes the time
							to explain not only the concept, but the logic behind it. It is
							due to his teachings that I was able to excel in my rigorous high
							school math classes. He was patient with me even when I was
							frustrated and at wits end. <br />
							<br />I am very grateful for the help he has given me, and would
							highly recommend him for anyone who is looking for a tutor who not
							only cares about teaching you, but cares about your growth as an
							individual.”
						</p>
						<h5>
							Ms. Kamala, Student( Algebra 2, Pre Calculus, Calculus, Physics,
							IB)
						</h5>
						<span>Fremont, CA</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Mr. Dommety helped me throughout the year with AP Physics 1 and
							AP Calculus AB. I gained a much better understanding of the
							Physics material from each of our sessions. Mr. Dommety made
							Physics material enjoyable and I gained an appreciation for the
							subject matter. He is extremely available to answer questions and
							helped me prepare for in class exams as well as my AP exams. I am
							so grateful for his help.”
						</p>
						<h5>Ms. Kavina, Student (AP Physics, AP Calculus)</h5>
						<span>Long Island, NY</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Since the first session I had over zoom with Mr. Dommety, I was
							so shocked and happy with how patient and understanding he was
							when I had difficulty in any subject. My weekly sessions with him
							really helped me and very quickly I was able to start seeing a
							significant improvement in my grades, maintaining an A average in
							my AP Statistics and Calculus classes. Mr. Dommety also helped me
							prepare for AP exams during May. He was organized, responsive, and
							always available when I needed help. I was able to get great
							scores on my AP’s this year with his help. He is such a great
							teacher and I felt he really cared about making me feel more
							confident in the subject matter. Thank you for your help Mr.
							Dommety! It is so appreciated. ”
						</p>
						<h5>Ms. Kaya, Student (AP Stats, AP Calculus)</h5>
						<span>Long Island, NY</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Mr. Dommety’s tutoring helped me understand my AP Statistics
							material a whole lot better. Before he started working with me , I
							was extremely stressed out with the class and was struggling
							trying to figure out how to manage it. With his help, I was able
							to actually focus on learning and understanding the material well
							enough for the exams and was able to use the class time and other
							times that I’ve spent on this class to focus more on the projects
							for this class and the other work that I had to do. It really
							built up my confidence and self esteem and helped me understand
							what my teacher was teaching more. Mr. Dommety’s method of
							preparing me for free response helped me a lot. It also heavily
							lowered my anxiety because tutoring with Mr. Dommety helped me
							with being able to stay focused on the material and being
							disciplined enough to want to do well in it. It helped me achieve
							in confidence each time I studied and helped me relax a lot more
							before exams. ”
						</p>
						<h5>Mr. Keshav, Student (AP Stats),</h5>
						<span>Palo Alto, CA</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Mr. Dommety helped me gain my confidence when I was failing my
							honors Physics class. He took the time to teach me the foundations
							before delving into more advanced problems so I could understand
							key concepts better. After working with him my grades improved
							significantly by over 20%! He was always extremely patient and
							kind, and took the time to help me understand what I was learning
							no matter how long it took. I highly recommend him to anyone who
							is looking to improve their grades and confidence! ”
						</p>
						<h5>Mr. Sammy, Student (Physics Hons.)</h5>
						<span>Monmouth Jn, NJ</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ I first started taking classes in middle school, when school
							curriculum was transitioning to common core. I struggled to catch
							up with the subject matter due to the lack of teaching and
							physical textbooks. Getting help from Mr. Dommety, particularly
							with Geometry and Algebra, made everything I was learning much
							clearer. Every session was focused on developing my understanding
							of key concepts, and Mr. Dommety was incredibly caring and patient
							through it all. Having regular classes improved my understanding
							of the subject and my grades quickly, and they made me a better
							learner as I continued through high school. ”
						</p>
						<h5>Ms. Shriveda, Student (Geometry, Algebra)</h5>
						<span>Pleasanton, CA</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ Besides his in-depth subject knowledge and expertise in
							teaching, Ananth’s genuine interest in his students’ success is
							reflected in his positivity, encouragement, extremely patient and
							nurturing attitude. His pleasant and approachable personality
							makes it very easy to work with him. <br /><br />My husband and I
							have noticed that our son has not only achieved success
							academically, but has blossomed into a more confident young man
							over the past year and a half. Ananth has not only been an
							excellent teacher but also a mentor to him, helping him map out a
							career path in great detail. We are very grateful for his help and
							guidance and are extremely happy that we chose the right person to
							tutor our son. ”
						</p>
						<h5>Ms. Supriya & Mr. Satish Reddy</h5>
						<span>Newcity ,NY</span>
					</div>
				</div>
			</div>
			<div class="ts-item">
				<div class="row">
					<div class="col-md-3">
						<div
							class="ts-author-pic set-bg"
							data-setbg="img/member/5.jpg"
						></div>
					</div>
					<div class="col-md-9 ts-text">
						<p>
							“ BMy name is Vinay Kothari and I am the parent of a daughter who
							has been tutored for over a year by Ananth. I have watched my
							daughter make major strides in mathematics and science. She has
							gained confidence and independence. <br /><br />
							Ananth has the uncanny ability to connect with the student by
							working on the child’s personality as a whole and making math and
							science fun instead of a chore. His approach is not only academic,
							but he also teaches life skills to his student by using the
							student’s strengths. <br /><br />I am grateful for his services
							and how it has helped my daughter become more confident and
							independent. ”
						</p>
						<h5>Mr. Vinay Kothari, Parent</h5>
						<span>Allendale, NJ</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
