/* Subjects Page */
.list-item ul li {
  background: #020031;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 2px 2px #020031;
  border-radius: 10px;
}
.subject-text h5 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}
.head-text h2 {
  font-weight: 400;
  text-align: center;
}

/* Contact Page*/
.contact-info {
  margin-bottom: 25px;
}
.contact-info__icon {
  margin-right: 20px;
}
.contact-info__icon i,
.contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}
.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}
.contact-info .media-body h3 a {
  color: #2a2a2a;
}
.contact-info .media-body h3 a:hover {
  color: #020031;
}
.contact-info .media-body p {
  color: #8a8a8a;
}
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #111111;
    
    font-family: "Poppins", sans-serif;
}
.form-contact label {
  color: #ed3c0d;
  font-size: 16px;
}
.form-contact .form-group {
  margin-bottom: 30px;
}
.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 4px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}
.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}
.boxed-btn {
  border-radius: 4px;
  background: #fff;
  color: #020031 !important;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #020031;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.boxed-btn:hover {
  background: #020031;
  color: #fff !important;
  border: 1px solid #020031;
  text-decoration: none;
}
.boxed-btn:active {
  transform: scale(1.1);
  text-decoration: none;
}
.boxed-btn:focus {
  outline: none;
  text-decoration: none;
}
.boxed-btn.large-width {
  width: 220px;
}

/* Contact Form Modal */
.contact_form .error-message {
  border-radius: 0.25rem;
  display: none;
  color: #fff;
  font-size: 12px;
  background: #ed3c0d;
  text-align: left;
  padding: 10px;
  font-weight: 400;
}
.contact_form .error-message br + br {
  margin-top: 25px;
}
.contact_form .sent-message {
  border-radius: 0.25rem;
  display: none;
  color: #fff;
  font-size: 12px;
  background: #0b9444;
  text-align: center;
  padding: 10px;
  font-weight: 400;
}
.contact_form .loading {
  display: none;
  background: #fff;
  text-align: left;
  padding: 15px;
}
.contact_form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #020031;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */
.about-widget h4 {
  color: #fff;
  font-size: 24px;
}

/* Home */
.site-btn a {
  color: #fff;
  text-decoration: none;
}
.site-btn a:hover {
  color: #fff;
  text-decoration: none;
}
.site-btn a:active {
  color: #fff;
  text-decoration: none;
}
.site-btn a:focus {
  color: #fff;
  text-decoration: none;
}

.about-list li i {
  margin-right: 10px;
}

.tagline {
  font-size: 22px;
  font-weight: bold;
  color: #020031;
  text-align: center;
  font-style: italic;
}
.quotation_symbol {
  color: #f6783a;
  font-size: 52px;
  font-style: italic;
}
.button-contactForm a {
  text-decoration: none;
}
